# .vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
*.code-workspace
.vscode-server/
.cache/
.dotnet/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# cmake
*\build
cmakelists_copy_data/
cmakelists_copy.exe
cmakelists_check.exe

# GPG（GNU Privacy Guard）に関連する設定
.gnupg/

# bash
*.bash_history

# pipx install here
.local/

# dbus
.config/
.dbus/

# why followings are not working?
.onCreateCommandMarker
.postCreateCommandMarker
.postStartCommandMarker
.updateContentCommandMarker
