[user]
	email = kandkide@gmail.com
	name = kandkide
[credential]
	helper = "!f() { /home/hoge/.vscode-server/bin/f1a4fb101478ce6ec82fe9627c43efbf9e98c813/node /tmp/vscode-remote-containers-d0353fa2-5368-4f17-854a-7719cc28768f.js git-credential-helper $*; }; f"
