[user]
	email = kandkide@gmail.com
	name = kandkide
[credential]
	helper = "!f() { /home/hoge/.vscode-server/bin/f1a4fb101478ce6ec82fe9627c43efbf9e98c813/node /tmp/vscode-remote-containers-f37f0156-812b-48a6-b540-a6c9822524dd.js git-credential-helper $*; }; f"
